name: Run HTML Parser Fuzzer

on:
  push:
    branches:
      - main

jobs:
  run-fuzzer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run Fuzzer
        run: |
          set -e
          chmod +x html_parser_linux_x86_64
          ./html_parser_linux_x86_64
          if [ $? -ne 0 ]; then
            echo "Fuzzer failed with exit code $?" >&2
            exit 1  # Fail the workflow
          fi
          
    continue-on-error: false
